.app {
    margin-top: 4px;
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 32px;
    color: #333;

}

.title {
    font-size: 12px;
    color: #333;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}